@use '../scss/custom' as *;

.companies{
    padding: 0 0 5rem 0;

    &__logo-box{
        max-width: 100%;
        height: 3rem;
        margin-bottom: 2rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        position: relative;
        transition: all 0.3s ease;

        &:hover{
            transform: scale(1.2);
            transition: all 0.3s ease;

            img{
                filter: grayscale(120);
            }
        }
    }

    img{
        height: 100%;
    }
}