@use '../scss/custom' as *;
@use '../components/mixins';

.contact{
    background: $gray-200;
    padding: 4rem 0;
}

.cta-info{
    padding: 1.5rem;
    margin: 1rem 0;

    @include media-breakpoint-up(sm){
        padding: 3rem;
    }


    &__list{
        position: relative;
        list-style-type: none;
        display: block;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        margin-bottom: 0.7rem;

        li{
            margin-left: 0.5rem;
        }
    }
}

// form content
.form{
    padding: 1rem;

    @include media-breakpoint-up(sm){
        padding: 3rem;
    }

    button{
        border: none;
        color: $white;

        a{
            color: $white;
            text-decoration: none;
            text-transform: capitalize;
        }
    }
}